<section class="comments">
    <div id="cyReward" role="cylabs" data-use="reward"></div>
    <h3>{{ site.translations.text.comments | default: "Comments" }}</h3>
    <div id="SOHUCS" sid='{{page.url}}'></div>
</section>
<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js"></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyvb34sJd',
        conf: 'prod_7fcdc8eea63fd2b44190ae579bf5feb1'
    });
</script>
<script type="text/javascript" charset="utf-8" src="https://cy-cdn.kuaizhan.com/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cy-cdn.kuaizhan.com/js/changyan.labs.https.js?appid=cyvb34sJd"></script>